<html>
    <head>
            <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
        <style>
.hide{
  display:none;
}
.show{
  display:block;
}
.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:50px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:5px;
}
.exactCenter {
		width:400px;
		position: fixed;
		background-color: white;
		top: 50%;
		left: 45%;
		margin-top: -80px;
		margin-left: -100px;
	}
        </style>
        <script>
            function onButtonClick(){
  document.getElementById('textInput').className="show";
}
        </script>
    </head>
    <body>
            <p><%= "\n"+ text %></p>
        <button class="float" id="myBtn">
                <i class="fa fa-plus my-float"></i>
        </button>
<input class="hide" type="text" id="textInput" value="..." />
    </body>
</html>